body {
  --xxlg-size: 3rem;
  --xlg-size: 1.4rem;
  --lg-size: 1.4rem;
  --md-size: 1.25rem;
  --sm-size: 1.06rem;
  --xs-size: 1rem;
  --border-width: 2px;
}

main {
  background-color: #030915;
}

h1,
h2,
h3,
h4,
p {
  color: #fdfdfd;
}

h3 {
  color: #ff1054;
}

footer {
  color: #54647e;
}

footer h4 {
  color: #1e293b;
}

.burger {
  color: #b1c0d8;
}
