body {
  --xxlg-size: 3rem;
  --xlg-size: 1.4rem;
  --lg-size: 1.4rem;
  --md-size: 1.25rem;
  --sm-size: 1.06rem;
  --border-width: 2px;
}

@font-face {
  font-family: Roboto-Thin;
  src: url(Roboto-Thin.ttf);
}

* {
  font-family: Roboto-Thin;
}

main {
  background-color: #030915;
}

h1,
h2, h3, h4,
p {
  color: #fdfdfd;
  font-family: Roboto-Thin;
}

h3 {
  color: #ff1054;
}

footer {
  color: #54647e;
}

footer h4 {
  color: #1E293B;
}


.burger {
  color: #b1c0d8;
}
