---
import MainLayout from "../layouts/MainLayout.astro";
import Sektion1 from "../components/Sektion_1.astro";
import Sektion_2 from "../components/Sektion_2.astro"
import Sektion3 from "../components/Sektion_3.astro";
import HeroUnit from "../components/HeroUnit.astro";
---
<MainLayout title="Titel">
	<article class="bg px-6">
			<div class="bg-[url('/images/herounit.webp')] bg-cover bg-no-repeat mx-auto ">
				<HeroUnit/>
			</div>

		<section>
			<Sektion1/>

		</section>

		<section>
			<Sektion_2/>
		</section>

		<section>
			<Sektion3/>
		</section>
	</article>
</MainLayout>

<style>
	.bg{
		background-color: #030915;
	}
</style>