---
import MainLayout from "../layouts/MainLayout.astro";
import Sektion_2 from "../components/Sektion_2.astro";
import HeroUnit from "../components/HeroUnit.astro";
import Section_4 from "../components/Section_4.astro"
---
<MainLayout title="Titel">
	<article class="bg px-6">
		<div class="bg-[url('/images/herounit.webp')] bg-cover bg-no-repeat mx-auto ">
			<HeroUnit/>
		</div>
		<Sektion_2/>
		<Section_4/>
	</article>
</MainLayout>

<style>
	.bg{
		background-color: #030915;
	}
</style>