---
import MainLayout from "../layouts/MainLayout.astro";
import Sektion1 from "../components/Sektion_1.astro";
import Sektion_2 from "../components/Sektion_2.astro"
import Sektion3 from "../components/Sektion_3.astro";
import HeroUnit from "../components/HeroUnit.astro";
import Section_4 from "../components/Section_4.astro";
import Section_5 from "../components/Section_5.astro";
---
<MainLayout title="Titel">
	<article class="bg px-6">
			<div class="bg-[url('/images/hero.png')] bg-cover bg-no-repeat mx-auto">
				<HeroUnit/>
			</div>
			<Sektion1/>
			<Sektion_2/>
			<Sektion3/>
			<Section_4/>
			<Section_5/>
	</article>
</MainLayout>

<style>
	.bg{
		background-color: #030915;
	}
	
</style>

