---
import { Image } from "astro:assets";
import Logo from "../assets/images/plasticchange_logo.svg";
import Navbar from "../components/Navbar.astro";
---

<div
  class="p-6 z-30 lg:bg-white bg-[#062A3A] py-10 lg:pr-12 lg:p-4 fixed w-full overflow-hidden"
>
  <a href="#">
    <Image src={Logo} alt="PlasticChange_logo" class="w-50" />
  </a>
  <Navbar />
</div>
