---
import Button from "../components/Button.astro";
---
<div class="bg-[url('/images/havbund.webp')] bg-cover bg-no-repeat mx-auto"> 
<div class="shop pt-32 pb-8 md:flex md:flex-row-reverse md:justify-around">

    <section class="text-center pt-2 pb-10 md:mx-6 md:pt-32 lg:pt-40">
        <h3 class="text-[#f6f6f6] pb-3 lg:pb-6">Støt os med et bidrag – eller besøg vores shop</h3>
        <Button variant="primary" size="medium">Merchandise</Button>
    </section>

    <section class="bg-[#f6f6f6] w-[300px] mx-auto md:w-[390px] md:mx-6 lg:w-[440px]">
        <div class="block">
            <h3 class="text-[#1E293B] ml-[16px] pt-[26px] lg:ml-[34px] lg:pt-[34px]">Støt os</h3>
            <div class="mt-4 flex mx-[24px] justify-between lg:mx-[44px] lg:py-2">
                <div>
                    <label class="inline-flex items-center hover:text-[#ff1054]">
                        <input type="radio" class="form-radio text-[#ff1054] focus:ring-[#ff1054] peer-checked/month:text-[#ff1054] hover:border-[#ff1054]" name="radio-colors" value="1" >
                        <span class="ml-2">Månedlig</span>
                    </label>
                </div>
                <div>
                    <label class="inline-flex items-center hover:text-[#ff1054]">
                        <input type="radio" class="form-radio text-[#ff1054] focus:ring-[#ff1054] peer-checked/month:text-[#ff1054] hover:border-[#ff1054]" name="radio-colors" value="1" >
                        <span class="ml-2">Engangs</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="flex mx-[16px] justify-between my-6 lg:mx-[34px] lg:py-3">
            <Button variant="rounded2" size="large">50</Button>
            <Button variant="rounded2" size="large">75</Button>
            <Button variant="rounded" size="large">125</Button>

        </div>
     
        <div class="text-center pb-[26px] lg:pb-[34px]">
            <label class="">
                <input type="number" class="form-input mt-6 mx-auto md:mx-6 w-[294px] md:w-[300px] block rounded-full lg:w-[370px] lg:mb-2 lg:mt-8 focus:border-[#ff69b4] focus:outline-none" placeholder="Andet beløb">
            </label>
            <div class="mx-auto block pt-4">
                <Button variant="støtOs" size="large">Støt vores arbejde</Button>
            </div>
        </div>
        
            </div>
    </section>
</div>

<section class="text-center py-24">
    <h3 class="text-[#f6f6f6]">Husk World Cleanup Day den 16. september 2024</h3>
    <h3 class="text-[#f6f6f6]">For mere info <a class="hover:text-[#ff1054] hover:underline hover:underline-offset-3 transition duration-100 ease-in-out" href="www.worldcleanupday.dk">www.worldcleanupday.dk</a></h3>
    <h3 class="text-[#f6f6f6] lg:text-[30px] pt-20">#SingleUseSucks</h3>
    <div class="flex justify-center gap-4 lg:gap-8 self-center py-10 ">

        <a class=" w-[38px] h-[38px] lg:w-[50px] lg:h-[50px] bg-[url('/SoMeIkoner/insta.svg')] bg-no-repeat hover:bg-[url('/SoMeIkoner/insta_hover.svg')] transition duration-100 ease-in-out" href="www.instagram.com/plasticchange/"></a>

        <a class=" w-[52px] h-[44px] lg:w-[66px] lg:h-[56px] bg-[url('/SoMeIkoner/youtube.svg')] bg-no-repeat hover:bg-[url('/SoMeIkoner/youtube_hover.svg')] transition duration-100 ease-in-out" href="www.youtube.com/@plasticchange5159"></a>

        <a class="w-[30px] h-[36px] ml-1 lg:ml-0 lg:w-[40px] lg:h-[46px] bg-[url('/SoMeIkoner/facebook.svg')] bg-no-repeat hover:bg-[url('/SoMeIkoner/facebook_hover.svg')] transition duration-100 ease-in-out" href="www.facebook.com/plasticchange/?locale=da_DK"></a>

        <a class="w-[36px] h-[38px] lg:w-[44px] lg:h-[52px] bg-[url('/SoMeIkoner/x.svg')] bg-no-repeat hover:bg-[url('/SoMeIkoner/x_hover.svg')] transition duration-100 ease-in-out" href="www.twitter.com/PlasticChange"></a>

        <a class="w-[36px] h-[36px] lg:w-[45px] lg:h-[52px] bg-[url('/SoMeIkoner/linkedin.svg')] bg-no-repeat hover:bg-[url('/SoMeIkoner/linkedin_hover.svg')] transition duration-100 ease-in-out" href="www.linkedin.com/company/plastic-change/"></a>

       

       
    </div>
</section>
</div>