---
---



<div class="px-10 lg:pl-52 ">
    <div class="px-10 sticky top-10 lg:pl-0 lg:grid lg:grid-cols-2 gap-44">
    <h3 class="">Plastikforurening</h3>
    <img class="invisible lg:visible lg:max-w-xs lg:pr-10 lg:animate-pulse pulse lg:py-10" src="/public/images/brugteflasker.png">
</div>

    <div class="lg:w-1/2">
    <div class="items-center sticky top-20 h-screen w-100 bg-[#030915] ">
        <p class="px-10 py-10 lg:pl-0">Plastforurening i havene er et hastigt voksende problem med årligt 8-10 millioner tons, der ender der.</p>
    </div>

    <div class="items-center sticky top-20 h-screen w-100 bg-[#030915]">
        <p class="px-10 py-10 lg:pl-0">Mikroplastik, fra kilder som syntetisk tøj og bildæk, spredes globalt, fra de dybeste have til arktiske områder.</p>
    </div>

    <div class="items-center sticky top-20 h-screen w-100 bg-[#030915]">
        <p class="px-10 py-10 lg:pl-0">Dette overforbrug af plastik har resulteret i mere end 9 milliarder tons plastik siden 1950'erne, primært i form af engangsprodukter, der forurener gennem hele deres livscyklus.</p>
    </div>

    <div class="items-center sticky top-20 h-screen w-100 bg-[#030915]">
        <p class="px-10 py-10 lg:pl-0">Forventningen om en fordobling af plastikproduktionen og forureningen inden for de næste 20 år er alarmerende.</p>
    </div>

    <div class="items-center sticky top-20 h-screen w-100 bg-[#030915]">
        <p class="px-10 py-10 lg:pl-0">Handling er nødvendig nu: <span class="text-[#FF1054]">#SingleUseSucks </span> – engangsbrug? Aldrig igen.</p>
    </div>
</div>
</div>
</div>


<style>
    .pulse {
        animation-iteration-count: 6;
        animation-duration: 4s;
    }
</style>